:root {
  --ion-color-primary: #6c0f62;
  --ion-color-primary-rgb: 108, 15, 98;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5f0d56;
  --ion-color-primary-tint: #7b2772;

  --ion-color-secondary: #9c1793;
  --ion-color-secondary-rgb: 156, 23, 147;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #891481;
  --ion-color-secondary-tint: #a62e9e;

  --ion-color-tertiary: #a62b95;
  --ion-color-tertiary-rgb: 166, 43, 149;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #922683;
  --ion-color-tertiary-tint: #af40a0;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #72267e;
  --ion-color-medium-rgb: 114, 38, 126;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #64216f;
  --ion-color-medium-tint: #803c8b;

  --ion-color-light: #a870ad;
  --ion-color-light-rgb: 168, 112, 173;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #946398;
  --ion-color-light-tint: #b17eb5;

  --ion-color-dark: #3a1a3f;
  --ion-color-dark-rgb: 58, 26, 63;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #331737;
  --ion-color-dark-tint: #4e3152;

  text-align: center;

  --ion-background-color: #dfcbe1;
  --ion-background-color-rgb: 223, 203, 225;

  --ion-text-color: #1b0e18;
  --ion-text-color-rgb: 27, 14, 24;
}
