/* TOP DISPLAY BAR IN HERO BANNER */
ion-item.top_bar {
  --background: none;
  border-bottom: 2px solid var(--ion-color-light, #d9d4cc);
  --padding: auto;
}

/* COMPANY LOGO */
.logo_img {
  background-image: url("../assets/images/logos/LOGO.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 150px !important;
  min-height: 150px !important;
  max-width: 200px !important;
  max-height: 200px !important;
  --background: rgba(81, 89, 17, 1);
  --color: white;
}

.fancy {
  border-bottom: 2px solid var(--ion-color-dark, #000000);
  width: 250px;
}

.smallContact {
  width: 350px;
  float: right;
}

.btnBanner {
  display: flex;
  flex-flow: column;
}

/* HERO BANNER */
@media (max-width: 500px) {
  .hero_header {
    min-width: 300px !important;
    max-width: 500px !important;
    height: 500px !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 510px) {
  .hero_header {
    min-width: 510px !important;
    max-width: 2100px !important;
    height: 500px !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

/* MAP PIN */
.mapPin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}

.BigBtn {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

/* CARDS WITH FULL IMG BACKGROUND */

/* About */
.AboutImg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 550px !important;
  max-height: 550px !important;
  min-width: 200px !important;
  min-height: 300px !important;
  height: 200px;
  width: 200px;
  background-image: url("../assets/images/actual/mainHouse1.jpg");
  border-radius: 15px;
}

/* Rooms  */
@media (max-width: 500px) {
  .RoomsImg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 500px !important;
    max-height: 500px !important;
    min-width: 200px !important;
    min-height: 200px !important;
    height: 315px;
    width: 315px;
  }
}

@media (min-width: 510px) {
  .RoomsImg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 800px !important;
    max-height: 800px !important;
    min-width: 400px !important;
    min-height: 400px !important;
    height: 650px;
    width: 750px;
  }
}

/* Gallery */

@media (max-width: 500px) {
  .galleryCard {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 500px !important;
    max-height: 500px !important;
    min-width: 200px !important;
    min-height: 200px !important;
    height: 315px;
    width: 315px;
  }
}

@media (min-width: 510px) {
  .galleryCard {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 1300px !important;
    max-height: 900px !important;
    min-width: 400px !important;
    min-height: 400px !important;
    height: 750px;
    width: 1300px;
  }
}

/* MODALS */
/* .modal { */
/* width: auto;
  height: auto; */
/* margin: auto; */
/* } */

/* Acoms Banner image card */

.designCardContainer {
  max-width: 350px !important;
  max-height: 500px !important;
  min-width: 200px !important;
  min-height: 300px !important;
  height: 500px;
  width: 270px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.designCard {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  max-width: 350px !important;
  max-height: 500px !important;
  min-width: 200px !important;
  min-height: 300px !important;
  height: 400px;
  width: 250px;
}

.designCardCOntent {
  max-width: 350px !important;
  min-width: 200px !important;
  width: 250px;
  /* bottom: -300px;
  position: relative;
  height: fit-content;
  text-align: center;
  width: fit-content;
  display: block;
  margin: 0 auto; */
}
