:root {
  --ion-color-primary: #db2016;
  --ion-color-primary-rgb: 219, 32, 22;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c11c13;
  --ion-color-primary-tint: #df362d;

  --ion-color-secondary: #103586;
  --ion-color-secondary-rgb: 16, 53, 134;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0e2f76;
  --ion-color-secondary-tint: #284992;

  --ion-color-tertiary: #91c919;
  --ion-color-tertiary-rgb: 145, 201, 25;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #80b116;
  --ion-color-tertiary-tint: #9cce30;

  --ion-color-success: #008a37;
  --ion-color-success-rgb: 0, 138, 55;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #007930;
  --ion-color-success-tint: #1a964b;

  --ion-color-warning: #d2a614;
  --ion-color-warning-rgb: 210, 166, 20;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #b99212;
  --ion-color-warning-tint: #d7af2c;

  --ion-color-danger: #b30018;
  --ion-color-danger-rgb: 179, 0, 24;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #9e0015;
  --ion-color-danger-tint: #bb1a2f;

  --ion-color-medium: #b6a372;
  --ion-color-medium-rgb: 182, 163, 114;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #a08f64;
  --ion-color-medium-tint: #bdac80;

  --ion-color-light: #e4e5e7;
  --ion-color-light-rgb: 228, 229, 231;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c9cacb;
  --ion-color-light-tint: #e7e8e9;
}
