/** @format */

:root {
	--ion-color-primary: #f32e1e;
	--ion-color-primary-rgb: 243, 46, 30;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #d6281a;
	--ion-color-primary-tint: #f44335;

	--ion-color-secondary: #1d3385;
	--ion-color-secondary-rgb: 29, 51, 133;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #1a2d75;
	--ion-color-secondary-tint: #344791;

	--ion-color-tertiary: #0e1433;
	--ion-color-tertiary-rgb: 14, 20, 51;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #0c122d;
	--ion-color-tertiary-tint: #262c47;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45, 211, 111;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255, 255, 255;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255, 196, 9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235, 68, 90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-dark: #070707;
	--ion-color-dark-rgb: 23, 44, 115;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #201c1c;
	--ion-color-dark-tint: #202020;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146, 148, 156;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #fcfcfe;
	--ion-color-light-rgb: 252, 252, 254;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #dedee0;
	--ion-color-light-tint: #fcfcfe;

	text-align: center;
	--ion-background-color: #070707;
	--ion-background-color-rgb: 0, 0, 0;

	--ion-text-color: #ffffff !important;
	--ion-text-color-rgb: 255, 255, 255;
}

.tab-selected {
	color: rgb(0, 0, 0);
}

.mainMenu {
	--background: #070707;
	--ion-background-color: #070707;
}
.mainMenu ion-item {
	--background: #070707;
	--ion-background-color: #070707;
}
.mainMenu ion-content {
	--background: #070707;
	--ion-background-color: #070707;
}
.avatarSmall {
	margin: 0 auto;
}

.avatarBig {
	width: '350px';
	height: '350px';
	margin: 0 auto;
}

.roundedInput {
	/* --border-color: var(--ion-color-primary);
	--border-width: 0px;
	--box-shadow: 2px var(--ion-color-primary);
	--highlight-height: 0; */
	--border-radius: 30px;
	--background: #201f1f;
	margin: 25px 25px;

	--color: var(--ion-color-light);
	--placeholder-color: rgba(252, 252, 254, 0.5);
}

.roundedInput.ion-invalid.item-has-focus {
	--border-color: var(--ion-color-light-shade);
}

.roundedInput.ion-valid.item-has-focus {
	--border-color: var(--ion-color-light-shade);
}

.roundedInput.ion-invalid.ion-dirty {
	--border-color: var(--ion-color-light-shade);
}

.roundedInput.ion-valid.ion-dirty {
	--border-color: var(--ion-color-light-shade);
}

.eventCard {
	--ion-grid-padding: 0;
	--ion-grid-column-padding: 0;
}

/* ion-tab-bar {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
} */

ion-imgimg {
	display: block;
	max-width: 300px;
	max-height: 95px;
	width: auto;
	height: 95px;
}

ion-toolbar.rounding {
	height: 70px;
	margin-top: -60px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.eventInput {
	--border-color: var(--ion-color-primary);
	/* --border-radius: 30px; */
	--border-width: 0px;
	--box-shadow: 2px var(--ion-color-primary);
	--highlight-height: 0;
	--background: var(--ion-color-secondary);
	margin: 0 auto;
	padding: 5px 15px;
}

.avatarSSmall {
	display: inline-block;
	width: 10vw !important;
	height: 10vw !important;
	margin: 1px;
	/* border: 0.5vw solid #fff; */
}

.profileBar {
	border-radius: 200px;
	width: 200px;
	margin-left: 75px;
	margin-top: -25px;
}

ion-fab-button {
	--background: transparent;
	--ion-toolbar-text-color: var(--ion-color-primary);
}

ion-card-header {
	background-color: transparent;
}

textarea {
	overflow: visible;
	height: 250px;
	font: inherit;
	color: inherit;
}

.uploadBtn {
	background-color: var(--ion-color-primary);
	height: 150px;
	flex: 0 0 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xx-large;
	font-weight: 900;
	color: white;
}
div.item-inner {
	padding-left: unset;
	padding-right: unset;
	padding-inline-start: 1px;
	padding-inline-end: 1px;
}

.leaflet-container {
	width: 100%;
	height: 40%;
}

.Modal1 {
	--backdrop-opacity: 0.5;
	--height: 250px;
	--width: 250px;
	--border-radius: 20px;
	--border-style: none;
	--background: var(--ion-color-tertiary-tint);
}

ion-content.container {
	--background: url(/assets/img/loading.png) 0 0/100% 100% no-repeat;
}

ion-avatar.listAvatar {
	max-width: 25px;
	max-height: 25px;
}

ion-textarea.inputWhatsapp {
	--background: rgb(216, 216, 216);
	--color: black;
	border-radius: 20px;
	--padding-start: 10px;
	--padding-end: 10px;

	height: '50px';
}

.deleteCheckbox {
	--background: rgb(180, 178, 178);
	--border-color: rgb(180, 178, 178);
	--background-checked: var(--ion-color-primary);
	--border-color-checked: var(--ion-color-primary);
	--border-radius: 10px;
	--border-width: 2px;
	--checkmark-color: white;
	--checkmark-width: 5px;
	--size: 30px;
}

.ownIconMaker {
	width: 30px;
	height: 30px;
	margin-left: -10px;
}

.ownIconMaker1 {
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
}
.comment {
	--background: #bc8f8f5d;
	--border-radius: 20px;
	padding: 10px;
}

.longLabel {
	word-break: break-all;
	white-space: normal !important;
}

.postContainer {
	--background: #83838311;
}

ion-card.chatBubble_date {
	--background: var(--ion-color-light-shade);
	--color: white;
}

ion-card.chatBubble_reciever {
	--background: var(--ion-color-primary);
	--color: black;
}

ion-card.chatBubble_sender {
	--background: var(--ion-color-secondary);
	--color: black;
}

img {
	object-fit: cover !important;
}

.fishes {
	position: relative;
	top: 0;
	left: 0;
}
.fish {
	position: absolute;
	top: 60px;
	left: 80px;
}

ion-select::part(placeholder) {
	color: var(--ion-text-color);
	opacity: 1;
}

ion-select::part(text) {
	color: var(--ion-text-color);
	opacity: 1;
}

.alert-checkbox-label.sc-ion-alert-md {
	color: var(--ion-text-color);
	opacity: 1;
}

div.alert-radio-label.sc-ion-alert-md {
	color: var(--ion-text-color);
}

ion-card.chatBubble_date {
	--background: var(--ion-color-light-shade);
	--color: white;
}

ion-card.chatBubble_reciever {
	--background: rgba(243, 46, 30, 0.6);
	--color: white;
}

ion-card.chatBubble_sender {
	--background: rgba(29, 51, 133, 0.6);
	--color: white;
}

.footer {
	/* min-height: 70px; */
	display: flex;
	align-items: center;
	--border-radius: 30px;
	--border-width: 0px;
}

.footerSections {
	--background: #bdccd3;
	background: #bdccd3;
	--border-radius: 30px;
	--border-width: 0px;
}

.containerFooter {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #929292;
	margin: 10px;
	border-radius: 500px;
	/* border-width: 10px; */
}

.sendBtn-icon {
	/* margin-top: -12px; */
	font-size: 30px;
}
.send-button-parent {
	padding: 0 6px 0 8px;
}

.inputConatiner {
	width: 80%;
}

ion-label.toAndFrom {
	overflow: visible !important;

	/* width: 100px !important; */
}
