/* Custom Fonts */

/* LOBSTER */
@font-face {
  font-family: "LobsterBold";
  src: url("../assets/fonts/lobster/LobsterTwo-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LobsterBoldItalic";
  src: url("../assets/fonts/lobster/LobsterTwo-BoldItalic.ttf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "LobsterItalic";
  src: url("../assets/fonts/lobster/LobsterTwo-Italic.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/lobster/LobsterTwo-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* CALIBRE */
@font-face {
  font-family: "LobsterBold";
  src: url("../assets/fonts/calibri/CALIBRIZ.TTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LobsterBoldItalic";
  src: url("../assets/fonts/calibri/CALIBRIB.TTF") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "LobsterItalic";
  src: url("../assets/fonts/calibri/CALIBRII.TTF") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/calibri/Calibri.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
html.ios,
html.md {
  --ion-default-font: "Calibre";
  font-family: var(--ion-default-font) !important;
}
