.select
{
    color: #ffffff;
    color: var(--text-color);
    background-color: #454547;
    background-color: var(--primary-color);
}

/* .form-style */
.form-style{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
    padding: 16px;
    background: #000000;
	background: var(--background-color);
}

a:-webkit-any-link {
    color: #4088f3;
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
}
.form-style h1{
    background: #2f2f31;
	background: var(--primary-color);
	padding: 20px 0;
	font-size: 3vmax;
	font-weight: 300;
	text-align: center;
	color: var(--text-color);
	margin: -16px -16px 16px -16px;
}

.form-style input[type="password"],
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    width: 100%;
    background: #2f2f31;
	background: var(--button-color);
	margin-bottom: 4%;
	border: 1px solid #ccc;
    padding: 3%;
    color: #ccc;
	color: var(--text-color);
	font: 95% Arial, Helvetica, sans-serif;
}

.form-style input[type="password"]:focus,
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus
{
    box-shadow: 0 0 5px #454547;
	box-shadow: 0 0 5px var(--button-color);
    padding: 3%;
    border: 1px solid  #454547;
	border: 1px solid var(--button-color);
}


.form-style input[type="datetime-local"],
.form-style input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
    padding: 3%;
    background: #454547;
    background: var(--button-color);
    border-bottom: 2px solid #454547;
	border-bottom: 2px solid var(--button-color);
	border-top-style: none;
	border-right-style: none;
    border-left-style: none;	
    color: #ccc;
	color: var(--text-color);
}

.form-style input[type="button"]:hover{
    background: #2f2f31;
	background: var(--button-color);
}
.invalid-feedback,
.invalidCheck
{
    color: #ff0000;
    color: var(--error);
    padding: 0.25% 0.25%;
    text-align: center;
}


.form-style button[type=Submit]
{
    color: #ffffff;
    color: var(--text-color);
    width: 50%;
    padding: 5% 5%;
    margin: 2% 2%;
    box-sizing: border-box;
    border: 2px solid  #454547;
    border: 2px solid  var(--hover-color);
    border-radius: 4px;
    background-color: #454547;
    background-color: var(--submit-color);
    overflow: hidden;
}
.form-style button[type=Submit]:disabled
{
    color: #ffffff;
    color: var(--text-color);
    width: 50%;
    padding: 3% 3%;
    margin: 1% 1%;
    box-sizing: border-box;
    border: 2px solid #969494;
    border: 2px solid  var(--disable-color);
    border-radius: 4px;
    background-color: #969696;
    background-color: var(--disable-color);
    overflow: hidden;
}






/* .form-style001 */
.form-style001 input[type=number],
.form-style001 input[type=date],
.form-style001 input[type=button],
.form-style001 input[type=text],
.form-style001 input[type=password],
.form-style001 input[type=datetime],
.form-style001 input[type=date],
.form-style001 input[type=string]
{
    color: #ffffff;
    color: var(--text-color);
    width: 50%;
    padding: 1% 1%;
    margin: 0.5% 0.5%;
    box-sizing: border-box;
    border: 2px solid #454547;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    overflow: hidden;
    background-color:#2f2f31;
    background-color: var(--background-color);
}

.form-style001 input[type=Submit]
{
    color: #ffffff;
    color: var(--text-color);
    width: 50%;
    padding: 0.5% 0.5%;
    margin: 0.1% 0%;
    box-sizing: border-box;
    border: 2px solid  #454547;
    border: 2px solid  var(--hover-color);
    border-radius: 4px;
    background-color: #9fff80;
    background-color: var(--submit-color);
    overflow: hidden;
}
.form-style001 input[type=Submit]:disabled
{
    color: #ffffff;
    color: var(--text-color);
    width: 50%;
    padding: 0.5% 0.5%;
    margin: 0.1% 0%;
    box-sizing: border-box;
    border: 2px solid #2f2f31;
    border: 2px solid  var(--disable-color);
    border-radius: 4px;
    background-color: #2f2f31;
    background-color: var(--disable-color);
    overflow: hidden;
}